:root{
  --color1: whitesmoke;
  --color2: #272727;
  --color3: #1E1E1E;
  --iconColor: #1d1d1d41;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transition: background 0.5s ease-in-out;
}

.card-weather{
  background-color: rgba(122, 119, 119, 0.11);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 1.5em 2em;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  color: var(--color1);
  width: 45%;
  max-width: 450px;
}

.card-weather .data-w{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 1em;
  padding: 1em;
  width: 100%;
  

  .data-w-icon{
    flex: 1;
    height: auto;
    padding: 1em;
    background-color: var(--iconColor);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    
    h4{
      font-weight: 300;
    }
    img{
      width: 100%;
    }
  }
}

select{
  padding: 1em;
  border-radius: 5px;
  border: none;
  background-color: var(--iconColor);
  color: var(--color1);
  font-size: 1em;
  cursor: pointer;
  margin-top: 1em;
  width: 90%;
}

.bg-clear {
  background: linear-gradient(to top, #56ccf2, #2f80ed);
}
.bg-clouds {
  background: linear-gradient(to top, #ecebeb, #757f9a);
}
.bg-rain {
  background: linear-gradient(to bottom, #000428, #004e92);
}
.bg-snow {
  background: linear-gradient(to top, #83a4d4, #b6fbff);
}
.bg-fog {
  background: linear-gradient(to top, #606c88, #3f4c6b);
}
.bg-thunder {
  background: linear-gradient(to top, #141e30, #243b55);
}

option{
  background-color: var(--iconColor);
  color: var(--color);
}

@media screen and (max-width: 600px){
  .card-weather{
    width: 90%;
  }
  
}